:host {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header {
  grid-column-start: 2;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
