<article class='header'>
  <span></span>
  <header>Spends</header>
  <button>CATEGORIES</button>
</article>
<article>
  <p>
    <strong>Sum</strong>
    <strong>Category</strong>
    <strong>Description</strong>
  </p>
</article>
<article class="list">

  <p>
    <span>2</span>
    <span>BLA</span>
    <span>ФЫВАФЫВАФ</span>
  </p>
  <p>
    <span>2</span>
    <span>BLA</span>
    <span>ФЫВАФЫВАФ</span>
  </p>
  <p>
    <span>2</span>
    <span>BLA</span>
    <span>ФЫВАФЫВАФ</span>
  </p>
  <p>
    <span>2</span>
    <span>BLA</span>
    <span>ФЫВАФЫВАФ</span>
  </p>
  <p>
    <span>2</span>
    <span>BLA</span>
    <span>ФЫВАФЫВАФ</span>
  </p>
  <p>
    <span>2</span>
    <span>BLA</span>
    <span>ФЫВАФЫВАФ</span>
  </p>
  <p>
    <span>2</span>
    <span>BLA</span>
    <span>ФЫВАФЫВАФ</span>
  </p>

</article>
