mat-card {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:0;
}
span {
    width: 100px;
}

mat-card-title {
    margin-top: 0;
    margin-bottom: 0;
}
