#home-section {
  #home-current, #home-other {
    height: 30vh;
    padding: 5%;
  }

  #home-expenditures {
    height: 40vh;
  }

  #home-other .content,
  #home-current .content {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.5vh;
  }

  #home-current .content {
    flex-direction: column;
    justify-content: space-around;
  }

  #home-expenditures .content{
    font-size: 3.5vh;
    overflow-x: scroll;
  }
  #home-expenditures .content p {
    display: flex;
    align-items: space-between;

    text-align: left;
    min-height: 4vh;
    margin: 0.5vh 0.5vw;
  }

  #home-expenditures .content p span:nth-child(1) {
    text-align: right;
    width: 30%;
  }
  #home-expenditures .content p span:nth-child(2) {
    width: 70%;
  }
  #home-expenditures .content p span:nth-child(2):first-letter {
    text-transform: capitalize;
  }

  #home-other .content article   {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .left {
    text-align: right;
  }

  .right {
    text-align: left;
    padding-left: 2vw;
  }
}