<mat-toolbar class="mat-elevation-z1" color="accent">
    <button
            mat-icon-button
            class="example-icon mat-elevation-z0"
            aria-label="Example icon-button with menu icon"
            (click)="openMenu()"
    >
        <mat-icon>menu</mat-icon>
    </button>

    <header class="mat-elevation-z0">To Live To Pay</header>

    <button
            color="primary"
            class="mat-elevation-z1"
            (click)="openSettings()"
            mat-raised-button
    >SETTINGS</button>
</mat-toolbar>
